.stars, .stars2, .stars3 {
    position: absolute;
    width: 100%;
    height: 100%;    
    background: transparent;
}

.stars {
  width: 1px;
  height: 1px;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #ffffff70, 324px 42px #ffffff70, 303px 586px #ffffff70,
    1312px 276px #ffffff70, 451px 625px #ffffff70, 521px 1931px #ffffff70, 1087px 1871px #ffffff70,
    36px 1546px #ffffff70, 132px 934px #ffffff70, 1698px 901px #ffffff70, 1418px 664px #ffffff70,
    1448px 1157px #ffffff70, 1084px 232px #ffffff70, 347px 1776px #ffffff70, 1722px 243px #ffffff70,
    1629px 835px #ffffff70, 479px 969px #ffffff70, 1231px 960px #ffffff70, 586px 384px #ffffff70,
    164px 527px #ffffff70, 8px 646px #ffffff70, 1150px 1126px #ffffff70, 665px 1357px #ffffff70,
    1556px 1982px #ffffff70, 1260px 1961px #ffffff70, 1675px 1741px #ffffff70,
    1843px 1514px #ffffff70, 718px 1628px #ffffff70, 242px 1343px #ffffff70, 1497px 1880px #ffffff70,
    1364px 230px #ffffff70, 1739px 1302px #ffffff70, 636px 959px #ffffff70, 304px 686px #ffffff70,
    614px 751px #ffffff70, 1935px 816px #ffffff70, 1428px 60px #ffffff70, 355px 335px #ffffff70,
    1594px 158px #ffffff70, 90px 60px #ffffff70, 1553px 162px #ffffff70, 1239px 1825px #ffffff70,
    1945px 587px #ffffff70, 749px 1785px #ffffff70, 1987px 1172px #ffffff70, 1301px 1237px #ffffff70,
    1039px 342px #ffffff70, 1585px 1481px #ffffff70, 995px 1048px #ffffff70, 524px 932px #ffffff70,
    214px 413px #ffffff70, 1701px 1300px #ffffff70, 1037px 1613px #ffffff70, 1871px 996px #ffffff70,
    1360px 1635px #ffffff70, 1110px 1313px #ffffff70, 412px 1783px #ffffff70, 1949px 177px #ffffff70,
    903px 1854px #ffffff70, 700px 1936px #ffffff70, 378px 125px #ffffff70, 308px 834px #ffffff70,
    1118px 962px #ffffff70, 1350px 1929px #ffffff70, 781px 1811px #ffffff70, 561px 137px #ffffff70,
    757px 1148px #ffffff70, 1670px 1979px #ffffff70, 343px 739px #ffffff70, 945px 795px #ffffff70,
    576px 1903px #ffffff70, 1078px 1436px #ffffff70, 1583px 450px #ffffff70, 1366px 474px #ffffff70,
    297px 1873px #ffffff70, 192px 162px #ffffff70, 1624px 1633px #ffffff70, 59px 453px #ffffff70,
    82px 1872px #ffffff70, 1933px 498px #ffffff70, 1966px 1974px #ffffff70, 1975px 1688px #ffffff70,
    779px 314px #ffffff70, 1858px 1543px #ffffff70, 73px 1507px #ffffff70, 1693px 975px #ffffff70,
    1683px 108px #ffffff70, 1768px 1654px #ffffff70, 654px 14px #ffffff70, 494px 171px #ffffff70,
    1689px 1895px #ffffff70, 1660px 263px #ffffff70, 1031px 903px #ffffff70, 1203px 1393px #ffffff70,
    1333px 1421px #ffffff70, 1113px 41px #ffffff70, 1206px 1645px #ffffff70, 1325px 1635px #ffffff70,
    142px 388px #ffffff70, 572px 215px #ffffff70, 1535px 296px #ffffff70, 1419px 407px #ffffff70,
    1379px 1003px #ffffff70, 329px 469px #ffffff70, 1791px 1652px #ffffff70, 935px 1802px #ffffff70,
    1330px 1820px #ffffff70, 421px 1933px #ffffff70, 828px 365px #ffffff70, 275px 316px #ffffff70,
    707px 960px #ffffff70, 1605px 1554px #ffffff70, 625px 58px #ffffff70, 717px 1697px #ffffff70,
    1669px 246px #ffffff70, 1925px 322px #ffffff70, 1154px 1803px #ffffff70, 1929px 295px #ffffff70,
    1248px 240px #ffffff70, 1045px 1755px #ffffff70, 166px 942px #ffffff70, 1888px 1773px #ffffff70,
    678px 1963px #ffffff70, 1370px 569px #ffffff70, 1974px 1400px #ffffff70, 1786px 460px #ffffff70,
    51px 307px #ffffff70, 784px 1400px #ffffff70, 730px 1258px #ffffff70, 1712px 393px #ffffff70,
    416px 170px #ffffff70, 1797px 1932px #ffffff70, 572px 219px #ffffff70, 1557px 1856px #ffffff70,
    218px 8px #ffffff70, 348px 1334px #ffffff70, 469px 413px #ffffff70, 385px 1738px #ffffff70,
    1357px 1818px #ffffff70, 240px 942px #ffffff70, 248px 1847px #ffffff70, 1535px 806px #ffffff70,
    236px 1514px #ffffff70, 1429px 1556px #ffffff70, 73px 1633px #ffffff70, 1398px 1121px #ffffff70,
    671px 1301px #ffffff70, 1404px 1663px #ffffff70, 740px 1018px #ffffff70, 1600px 377px #ffffff70,
    785px 514px #ffffff70, 112px 1084px #ffffff70, 1915px 1887px #ffffff70, 1463px 1848px #ffffff70,
    687px 1115px #ffffff70, 1268px 1768px #ffffff70, 1729px 1425px #ffffff70,
    1284px 1022px #ffffff70, 801px 974px #ffffff70, 1975px 1317px #ffffff70, 1354px 834px #ffffff70,
    1446px 1484px #ffffff70, 1283px 1786px #ffffff70, 11px 523px #ffffff70, 1842px 236px #ffffff70,
    1355px 654px #ffffff70, 429px 7px #ffffff70, 1033px 1128px #ffffff70, 157px 297px #ffffff70,
    545px 635px #ffffff70, 52px 1080px #ffffff70, 827px 1520px #ffffff70, 1121px 490px #ffffff70,
    9px 309px #ffffff70, 1744px 1586px #ffffff70, 1014px 417px #ffffff70, 1534px 524px #ffffff70,
    958px 552px #ffffff70, 1403px 1496px #ffffff70, 387px 703px #ffffff70, 1522px 548px #ffffff70,
    1355px 282px #ffffff70, 1532px 601px #ffffff70, 1838px 790px #ffffff70, 290px 259px #ffffff70,
    295px 598px #ffffff70, 1601px 539px #ffffff70, 1561px 1272px #ffffff70, 34px 1922px #ffffff70,
    1024px 543px #ffffff70, 467px 369px #ffffff70, 722px 333px #ffffff70, 1976px 1255px #ffffff70,
    766px 983px #ffffff70, 1582px 1285px #ffffff70, 12px 512px #ffffff70, 617px 1410px #ffffff70,
    682px 577px #ffffff70, 1334px 1438px #ffffff70, 439px 327px #ffffff70, 1617px 1661px #ffffff70,
    673px 129px #ffffff70, 794px 941px #ffffff70, 1386px 1902px #ffffff70, 37px 1353px #ffffff70,
    1467px 1353px #ffffff70, 416px 18px #ffffff70, 187px 344px #ffffff70, 200px 1898px #ffffff70,
    1491px 1619px #ffffff70, 811px 347px #ffffff70, 924px 1827px #ffffff70, 945px 217px #ffffff70,
    1735px 1228px #ffffff70, 379px 1890px #ffffff70, 79px 761px #ffffff70, 825px 1837px #ffffff70,
    1980px 1558px #ffffff70, 1308px 1573px #ffffff70, 1488px 1726px #ffffff70,
    382px 1208px #ffffff70, 522px 595px #ffffff70, 1277px 1898px #ffffff70, 354px 552px #ffffff70,
    161px 1784px #ffffff70, 614px 251px #ffffff70, 526px 1576px #ffffff70, 17px 212px #ffffff70,
    179px 996px #ffffff70, 467px 1208px #ffffff70, 1944px 1838px #ffffff70, 1140px 1093px #ffffff70,
    858px 1007px #ffffff70, 200px 1064px #ffffff70, 423px 1964px #ffffff70, 1945px 439px #ffffff70,
    1377px 689px #ffffff70, 1120px 1437px #ffffff70, 1876px 668px #ffffff70, 907px 1324px #ffffff70,
    343px 1976px #ffffff70, 1816px 1501px #ffffff70, 1849px 177px #ffffff70, 647px 91px #ffffff70,
    1984px 1012px #ffffff70, 1336px 1300px #ffffff70, 128px 648px #ffffff70, 305px 1060px #ffffff70,
    1324px 826px #ffffff70, 1263px 1314px #ffffff70, 1801px 629px #ffffff70, 1614px 1555px #ffffff70,
    1634px 90px #ffffff70, 1603px 452px #ffffff70, 891px 1984px #ffffff70, 1556px 1906px #ffffff70,
    121px 68px #ffffff70, 1676px 1714px #ffffff70, 516px 936px #ffffff70, 1947px 1492px #ffffff70,
    1455px 1519px #ffffff70, 45px 602px #ffffff70, 205px 1039px #ffffff70, 793px 172px #ffffff70,
    1562px 1739px #ffffff70, 1056px 110px #ffffff70, 1512px 379px #ffffff70, 1795px 1621px #ffffff70,
    1848px 607px #ffffff70, 262px 1719px #ffffff70, 477px 991px #ffffff70, 483px 883px #ffffff70,
    1239px 1197px #ffffff70, 1496px 647px #ffffff70, 1649px 25px #ffffff70, 1491px 1946px #ffffff70,
    119px 996px #ffffff70, 179px 1472px #ffffff70, 1341px 808px #ffffff70, 1565px 1700px #ffffff70,
    407px 1544px #ffffff70, 1754px 357px #ffffff70, 1288px 981px #ffffff70, 902px 1997px #ffffff70,
    1755px 1668px #ffffff70, 186px 877px #ffffff70, 1202px 1882px #ffffff70, 461px 1213px #ffffff70,
    1400px 748px #ffffff70, 1969px 1899px #ffffff70, 809px 522px #ffffff70, 514px 1219px #ffffff70,
    374px 275px #ffffff70, 938px 1973px #ffffff70, 357px 552px #ffffff70, 144px 1722px #ffffff70,
    1572px 912px #ffffff70, 402px 1858px #ffffff70, 1544px 1195px #ffffff70, 667px 1257px #ffffff70,
    727px 1496px #ffffff70, 993px 232px #ffffff70, 1772px 313px #ffffff70, 1040px 1590px #ffffff70,
    1204px 1973px #ffffff70, 1268px 79px #ffffff70, 1555px 1048px #ffffff70, 986px 1707px #ffffff70,
    978px 1710px #ffffff70, 713px 360px #ffffff70, 407px 863px #ffffff70, 461px 736px #ffffff70,
    284px 1608px #ffffff70, 103px 430px #ffffff70, 1283px 1319px #ffffff70, 977px 1186px #ffffff70,
    1966px 1516px #ffffff70, 1287px 1129px #ffffff70, 70px 1098px #ffffff70, 1189px 889px #ffffff70,
    1126px 1734px #ffffff70, 309px 1292px #ffffff70, 879px 764px #ffffff70, 65px 473px #ffffff70,
    1003px 1959px #ffffff70, 658px 791px #ffffff70, 402px 1576px #ffffff70, 35px 622px #ffffff70,
    529px 1589px #ffffff70, 164px 666px #ffffff70, 1876px 1290px #ffffff70, 1541px 526px #ffffff70,
    270px 1297px #ffffff70, 440px 865px #ffffff70, 1500px 802px #ffffff70, 182px 1754px #ffffff70,
    1264px 892px #ffffff70, 272px 1249px #ffffff70, 1289px 1535px #ffffff70, 190px 1646px #ffffff70,
    955px 242px #ffffff70, 1456px 1597px #ffffff70, 1727px 1983px #ffffff70, 635px 801px #ffffff70,
    226px 455px #ffffff70, 1396px 1710px #ffffff70, 849px 1863px #ffffff70, 237px 1264px #ffffff70,
    839px 140px #ffffff70, 1122px 735px #ffffff70, 1280px 15px #ffffff70, 1318px 242px #ffffff70,
    1819px 1148px #ffffff70, 333px 1392px #ffffff70, 1949px 553px #ffffff70, 1878px 1332px #ffffff70,
    467px 548px #ffffff70, 1812px 1082px #ffffff70, 1067px 193px #ffffff70, 243px 156px #ffffff70,
    483px 1616px #ffffff70, 1714px 933px #ffffff70, 759px 1800px #ffffff70, 1822px 995px #ffffff70,
    1877px 572px #ffffff70, 581px 1084px #ffffff70, 107px 732px #ffffff70, 642px 1837px #ffffff70,
    166px 1493px #ffffff70, 1555px 198px #ffffff70, 819px 307px #ffffff70, 947px 345px #ffffff70,
    827px 224px #ffffff70, 927px 1394px #ffffff70, 540px 467px #ffffff70, 1093px 405px #ffffff70,
    1140px 927px #ffffff70, 130px 529px #ffffff70, 33px 1980px #ffffff70, 1147px 1663px #ffffff70,
    1616px 1436px #ffffff70, 528px 710px #ffffff70, 798px 1100px #ffffff70, 505px 1480px #ffffff70,
    899px 641px #ffffff70, 1909px 1949px #ffffff70, 1311px 964px #ffffff70, 979px 1301px #ffffff70,
    1393px 969px #ffffff70, 1793px 1886px #ffffff70, 292px 357px #ffffff70, 1196px 1718px #ffffff70,
    1290px 1994px #ffffff70, 537px 1973px #ffffff70, 1181px 1674px #ffffff70,
    1740px 1566px #ffffff70, 1307px 265px #ffffff70, 922px 522px #ffffff70, 1892px 472px #ffffff70,
    384px 1746px #ffffff70, 392px 1098px #ffffff70, 647px 548px #ffffff70, 390px 1498px #ffffff70,
    1246px 138px #ffffff70, 730px 876px #ffffff70, 192px 1472px #ffffff70, 1790px 1789px #ffffff70,
    928px 311px #ffffff70, 1253px 1647px #ffffff70, 747px 1921px #ffffff70, 1561px 1025px #ffffff70,
    1533px 1292px #ffffff70, 1985px 195px #ffffff70, 728px 729px #ffffff70, 1712px 1936px #ffffff70,
    512px 1717px #ffffff70, 1528px 483px #ffffff70, 313px 1642px #ffffff70, 281px 1849px #ffffff70,
    1212px 799px #ffffff70, 435px 1191px #ffffff70, 1422px 611px #ffffff70, 1718px 1964px #ffffff70,
    411px 944px #ffffff70, 210px 636px #ffffff70, 1502px 1295px #ffffff70, 1434px 349px #ffffff70,
    769px 60px #ffffff70, 747px 1053px #ffffff70, 789px 504px #ffffff70, 1436px 1264px #ffffff70,
    1893px 1225px #ffffff70, 1394px 1788px #ffffff70, 1108px 1317px #ffffff70,
    1673px 1395px #ffffff70, 854px 1010px #ffffff70, 1705px 80px #ffffff70, 1858px 148px #ffffff70,
    1729px 344px #ffffff70, 1388px 664px #ffffff70, 895px 406px #ffffff70, 1479px 157px #ffffff70,
    1441px 1157px #ffffff70, 552px 1900px #ffffff70, 516px 364px #ffffff70, 1647px 189px #ffffff70,
    1427px 1071px #ffffff70, 785px 729px #ffffff70, 1080px 1710px #ffffff70, 504px 204px #ffffff70,
    1177px 1622px #ffffff70, 657px 34px #ffffff70, 1296px 1099px #ffffff70, 248px 180px #ffffff70,
    1212px 1568px #ffffff70, 667px 1562px #ffffff70, 695px 841px #ffffff70, 1608px 1247px #ffffff70,
    751px 882px #ffffff70, 87px 167px #ffffff70, 607px 1368px #ffffff70, 1363px 1203px #ffffff70,
    1836px 317px #ffffff70, 1668px 1703px #ffffff70, 830px 1154px #ffffff70, 1721px 1398px #ffffff70,
    1601px 1280px #ffffff70, 976px 874px #ffffff70, 1743px 254px #ffffff70, 1020px 1815px #ffffff70,
    1670px 1766px #ffffff70, 1890px 735px #ffffff70, 1379px 136px #ffffff70, 1864px 695px #ffffff70,
    206px 965px #ffffff70, 1404px 1932px #ffffff70, 1923px 1360px #ffffff70, 247px 682px #ffffff70,
    519px 1708px #ffffff70, 645px 750px #ffffff70, 1164px 1204px #ffffff70, 834px 323px #ffffff70,
    172px 1350px #ffffff70, 213px 972px #ffffff70, 1837px 190px #ffffff70, 285px 1806px #ffffff70,
    1047px 1299px #ffffff70, 1548px 825px #ffffff70, 1730px 324px #ffffff70, 1346px 1909px #ffffff70,
    772px 270px #ffffff70, 345px 1190px #ffffff70, 478px 1433px #ffffff70, 1479px 25px #ffffff70,
    1994px 1830px #ffffff70, 1744px 732px #ffffff70, 20px 1635px #ffffff70, 690px 1795px #ffffff70,
    1594px 569px #ffffff70, 579px 245px #ffffff70, 1398px 733px #ffffff70, 408px 1352px #ffffff70,
    1774px 120px #ffffff70, 1152px 1370px #ffffff70, 1698px 1810px #ffffff70, 710px 1450px #ffffff70,
    665px 286px #ffffff70, 493px 1720px #ffffff70, 786px 5px #ffffff70, 637px 1140px #ffffff70,
    764px 324px #ffffff70, 927px 310px #ffffff70, 938px 1424px #ffffff70, 1884px 744px #ffffff70,
    913px 462px #ffffff70, 1831px 1936px #ffffff70, 1527px 249px #ffffff70, 36px 1381px #ffffff70,
    1597px 581px #ffffff70, 1530px 355px #ffffff70, 949px 459px #ffffff70, 799px 828px #ffffff70,
    242px 1471px #ffffff70, 654px 797px #ffffff70, 796px 594px #ffffff70, 1365px 678px #ffffff70,
    752px 23px #ffffff70, 1630px 541px #ffffff70, 982px 72px #ffffff70, 1733px 1831px #ffffff70,
    21px 412px #ffffff70, 775px 998px #ffffff70, 335px 1945px #ffffff70, 264px 583px #ffffff70,
    158px 1311px #ffffff70, 528px 164px #ffffff70, 1978px 574px #ffffff70, 717px 1203px #ffffff70,
    734px 1591px #ffffff70, 1555px 820px #ffffff70, 16px 1943px #ffffff70, 1625px 1177px #ffffff70,
    1236px 690px #ffffff70, 1585px 1590px #ffffff70, 1737px 1728px #ffffff70, 721px 698px #ffffff70,
    1804px 1186px #ffffff70, 166px 980px #ffffff70, 1850px 230px #ffffff70, 330px 1712px #ffffff70,
    95px 797px #ffffff70, 1948px 1078px #ffffff70, 469px 939px #ffffff70, 1269px 1899px #ffffff70,
    955px 1220px #ffffff70, 1137px 1075px #ffffff70, 312px 1293px #ffffff70, 986px 1762px #ffffff70,
    1103px 1238px #ffffff70, 428px 1993px #ffffff70, 355px 570px #ffffff70, 977px 1836px #ffffff70,
    1395px 1092px #ffffff70, 276px 913px #ffffff70, 1743px 656px #ffffff70, 773px 502px #ffffff70,
    1686px 1322px #ffffff70, 1516px 1945px #ffffff70, 1334px 501px #ffffff70, 266px 156px #ffffff70,
    455px 655px #ffffff70, 798px 72px #ffffff70, 1059px 1259px #ffffff70, 1402px 1687px #ffffff70,
    236px 1329px #ffffff70, 1455px 786px #ffffff70, 146px 1228px #ffffff70, 1851px 823px #ffffff70,
    1062px 100px #ffffff70, 1220px 953px #ffffff70, 20px 1826px #ffffff70, 36px 1063px #ffffff70,
    1525px 338px #ffffff70, 790px 1521px #ffffff70, 741px 1099px #ffffff70, 288px 1489px #ffffff70,
    700px 1060px #ffffff70, 390px 1071px #ffffff70, 411px 1036px #ffffff70, 1853px 1072px #ffffff70,
    1446px 1085px #ffffff70, 1164px 874px #ffffff70, 924px 925px #ffffff70, 291px 271px #ffffff70,
    1257px 1964px #ffffff70, 1580px 1352px #ffffff70, 1507px 1216px #ffffff70, 211px 956px #ffffff70,
    985px 1195px #ffffff70, 975px 1640px #ffffff70, 518px 101px #ffffff70, 663px 1395px #ffffff70,
    914px 532px #ffffff70, 145px 1320px #ffffff70, 69px 1397px #ffffff70, 982px 523px #ffffff70,
    257px 725px #ffffff70, 1599px 831px #ffffff70, 1636px 1513px #ffffff70, 1250px 1158px #ffffff70,
    1132px 604px #ffffff70, 183px 102px #ffffff70, 1057px 318px #ffffff70, 1247px 1835px #ffffff70,
    1983px 1110px #ffffff70, 1077px 1455px #ffffff70, 921px 1770px #ffffff70, 806px 1350px #ffffff70,
    1938px 1992px #ffffff70, 855px 1260px #ffffff70, 902px 1345px #ffffff70, 658px 1908px #ffffff70,
    1845px 679px #ffffff70, 712px 1482px #ffffff70, 595px 950px #ffffff70, 1784px 1992px #ffffff70,
    1847px 1785px #ffffff70, 691px 1004px #ffffff70, 175px 1179px #ffffff70, 1666px 1911px #ffffff70,
    41px 61px #ffffff70, 971px 1080px #ffffff70, 1830px 1450px #ffffff70, 1351px 1518px #ffffff70,
    1257px 99px #ffffff70, 1395px 1498px #ffffff70, 1117px 252px #ffffff70, 1779px 597px #ffffff70,
    1346px 729px #ffffff70, 1108px 1144px #ffffff70, 402px 691px #ffffff70, 72px 496px #ffffff70,
    1673px 1604px #ffffff70, 1497px 974px #ffffff70, 1865px 1664px #ffffff70, 88px 806px #ffffff70,
    918px 77px #ffffff70, 244px 1118px #ffffff70, 256px 1820px #ffffff70, 1851px 1840px #ffffff70,
    605px 1851px #ffffff70, 634px 383px #ffffff70, 865px 37px #ffffff70, 943px 1024px #ffffff70,
    1951px 177px #ffffff70, 1097px 523px #ffffff70, 985px 1700px #ffffff70, 1243px 122px #ffffff70,
    768px 1070px #ffffff70, 468px 194px #ffffff70, 320px 1867px #ffffff70, 1850px 185px #ffffff70,
    380px 1616px #ffffff70, 468px 1294px #ffffff70, 1122px 1743px #ffffff70, 884px 299px #ffffff70,
    1300px 1917px #ffffff70, 1860px 396px #ffffff70, 1270px 990px #ffffff70, 529px 733px #ffffff70,
    1975px 1347px #ffffff70, 1885px 685px #ffffff70, 226px 506px #ffffff70, 651px 878px #ffffff70,
    1323px 680px #ffffff70, 1284px 680px #ffffff70, 238px 1967px #ffffff70, 911px 174px #ffffff70,
    1111px 521px #ffffff70, 1150px 85px #ffffff70, 794px 502px #ffffff70, 484px 1856px #ffffff70,
    1809px 368px #ffffff70, 112px 953px #ffffff70, 590px 1009px #ffffff70, 1655px 311px #ffffff70,
    100px 1026px #ffffff70, 1803px 352px #ffffff70, 865px 306px #ffffff70, 1077px 1019px #ffffff70,
    1335px 872px #ffffff70, 1647px 1298px #ffffff70, 1233px 1387px #ffffff70, 698px 1036px #ffffff70,
    659px 1860px #ffffff70, 388px 1412px #ffffff70, 1212px 458px #ffffff70, 755px 1468px #ffffff70,
    696px 1654px #ffffff70, 1144px 60px #ffffff70;
}

.stars:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #ffffff70, 324px 42px #ffffff70, 303px 586px #ffffff70,
    1312px 276px #ffffff70, 451px 625px #ffffff70, 521px 1931px #ffffff70, 1087px 1871px #ffffff70,
    36px 1546px #ffffff70, 132px 934px #ffffff70, 1698px 901px #ffffff70, 1418px 664px #ffffff70,
    1448px 1157px #ffffff70, 1084px 232px #ffffff70, 347px 1776px #ffffff70, 1722px 243px #ffffff70,
    1629px 835px #ffffff70, 479px 969px #ffffff70, 1231px 960px #ffffff70, 586px 384px #ffffff70,
    164px 527px #ffffff70, 8px 646px #ffffff70, 1150px 1126px #ffffff70, 665px 1357px #ffffff70,
    1556px 1982px #ffffff70, 1260px 1961px #ffffff70, 1675px 1741px #ffffff70,
    1843px 1514px #ffffff70, 718px 1628px #ffffff70, 242px 1343px #ffffff70, 1497px 1880px #ffffff70,
    1364px 230px #ffffff70, 1739px 1302px #ffffff70, 636px 959px #ffffff70, 304px 686px #ffffff70,
    614px 751px #ffffff70, 1935px 816px #ffffff70, 1428px 60px #ffffff70, 355px 335px #ffffff70,
    1594px 158px #ffffff70, 90px 60px #ffffff70, 1553px 162px #ffffff70, 1239px 1825px #ffffff70,
    1945px 587px #ffffff70, 749px 1785px #ffffff70, 1987px 1172px #ffffff70, 1301px 1237px #ffffff70,
    1039px 342px #ffffff70, 1585px 1481px #ffffff70, 995px 1048px #ffffff70, 524px 932px #ffffff70,
    214px 413px #ffffff70, 1701px 1300px #ffffff70, 1037px 1613px #ffffff70, 1871px 996px #ffffff70,
    1360px 1635px #ffffff70, 1110px 1313px #ffffff70, 412px 1783px #ffffff70, 1949px 177px #ffffff70,
    903px 1854px #ffffff70, 700px 1936px #ffffff70, 378px 125px #ffffff70, 308px 834px #ffffff70,
    1118px 962px #ffffff70, 1350px 1929px #ffffff70, 781px 1811px #ffffff70, 561px 137px #ffffff70,
    757px 1148px #ffffff70, 1670px 1979px #ffffff70, 343px 739px #ffffff70, 945px 795px #ffffff70,
    576px 1903px #ffffff70, 1078px 1436px #ffffff70, 1583px 450px #ffffff70, 1366px 474px #ffffff70,
    297px 1873px #ffffff70, 192px 162px #ffffff70, 1624px 1633px #ffffff70, 59px 453px #ffffff70,
    82px 1872px #ffffff70, 1933px 498px #ffffff70, 1966px 1974px #ffffff70, 1975px 1688px #ffffff70,
    779px 314px #ffffff70, 1858px 1543px #ffffff70, 73px 1507px #ffffff70, 1693px 975px #ffffff70,
    1683px 108px #ffffff70, 1768px 1654px #ffffff70, 654px 14px #ffffff70, 494px 171px #ffffff70,
    1689px 1895px #ffffff70, 1660px 263px #ffffff70, 1031px 903px #ffffff70, 1203px 1393px #ffffff70,
    1333px 1421px #ffffff70, 1113px 41px #ffffff70, 1206px 1645px #ffffff70, 1325px 1635px #ffffff70,
    142px 388px #ffffff70, 572px 215px #ffffff70, 1535px 296px #ffffff70, 1419px 407px #ffffff70,
    1379px 1003px #ffffff70, 329px 469px #ffffff70, 1791px 1652px #ffffff70, 935px 1802px #ffffff70,
    1330px 1820px #ffffff70, 421px 1933px #ffffff70, 828px 365px #ffffff70, 275px 316px #ffffff70,
    707px 960px #ffffff70, 1605px 1554px #ffffff70, 625px 58px #ffffff70, 717px 1697px #ffffff70,
    1669px 246px #ffffff70, 1925px 322px #ffffff70, 1154px 1803px #ffffff70, 1929px 295px #ffffff70,
    1248px 240px #ffffff70, 1045px 1755px #ffffff70, 166px 942px #ffffff70, 1888px 1773px #ffffff70,
    678px 1963px #ffffff70, 1370px 569px #ffffff70, 1974px 1400px #ffffff70, 1786px 460px #ffffff70,
    51px 307px #ffffff70, 784px 1400px #ffffff70, 730px 1258px #ffffff70, 1712px 393px #ffffff70,
    416px 170px #ffffff70, 1797px 1932px #ffffff70, 572px 219px #ffffff70, 1557px 1856px #ffffff70,
    218px 8px #ffffff70, 348px 1334px #ffffff70, 469px 413px #ffffff70, 385px 1738px #ffffff70,
    1357px 1818px #ffffff70, 240px 942px #ffffff70, 248px 1847px #ffffff70, 1535px 806px #ffffff70,
    236px 1514px #ffffff70, 1429px 1556px #ffffff70, 73px 1633px #ffffff70, 1398px 1121px #ffffff70,
    671px 1301px #ffffff70, 1404px 1663px #ffffff70, 740px 1018px #ffffff70, 1600px 377px #ffffff70,
    785px 514px #ffffff70, 112px 1084px #ffffff70, 1915px 1887px #ffffff70, 1463px 1848px #ffffff70,
    687px 1115px #ffffff70, 1268px 1768px #ffffff70, 1729px 1425px #ffffff70,
    1284px 1022px #ffffff70, 801px 974px #ffffff70, 1975px 1317px #ffffff70, 1354px 834px #ffffff70,
    1446px 1484px #ffffff70, 1283px 1786px #ffffff70, 11px 523px #ffffff70, 1842px 236px #ffffff70,
    1355px 654px #ffffff70, 429px 7px #ffffff70, 1033px 1128px #ffffff70, 157px 297px #ffffff70,
    545px 635px #ffffff70, 52px 1080px #ffffff70, 827px 1520px #ffffff70, 1121px 490px #ffffff70,
    9px 309px #ffffff70, 1744px 1586px #ffffff70, 1014px 417px #ffffff70, 1534px 524px #ffffff70,
    958px 552px #ffffff70, 1403px 1496px #ffffff70, 387px 703px #ffffff70, 1522px 548px #ffffff70,
    1355px 282px #ffffff70, 1532px 601px #ffffff70, 1838px 790px #ffffff70, 290px 259px #ffffff70,
    295px 598px #ffffff70, 1601px 539px #ffffff70, 1561px 1272px #ffffff70, 34px 1922px #ffffff70,
    1024px 543px #ffffff70, 467px 369px #ffffff70, 722px 333px #ffffff70, 1976px 1255px #ffffff70,
    766px 983px #ffffff70, 1582px 1285px #ffffff70, 12px 512px #ffffff70, 617px 1410px #ffffff70,
    682px 577px #ffffff70, 1334px 1438px #ffffff70, 439px 327px #ffffff70, 1617px 1661px #ffffff70,
    673px 129px #ffffff70, 794px 941px #ffffff70, 1386px 1902px #ffffff70, 37px 1353px #ffffff70,
    1467px 1353px #ffffff70, 416px 18px #ffffff70, 187px 344px #ffffff70, 200px 1898px #ffffff70,
    1491px 1619px #ffffff70, 811px 347px #ffffff70, 924px 1827px #ffffff70, 945px 217px #ffffff70,
    1735px 1228px #ffffff70, 379px 1890px #ffffff70, 79px 761px #ffffff70, 825px 1837px #ffffff70,
    1980px 1558px #ffffff70, 1308px 1573px #ffffff70, 1488px 1726px #ffffff70,
    382px 1208px #ffffff70, 522px 595px #ffffff70, 1277px 1898px #ffffff70, 354px 552px #ffffff70,
    161px 1784px #ffffff70, 614px 251px #ffffff70, 526px 1576px #ffffff70, 17px 212px #ffffff70,
    179px 996px #ffffff70, 467px 1208px #ffffff70, 1944px 1838px #ffffff70, 1140px 1093px #ffffff70,
    858px 1007px #ffffff70, 200px 1064px #ffffff70, 423px 1964px #ffffff70, 1945px 439px #ffffff70,
    1377px 689px #ffffff70, 1120px 1437px #ffffff70, 1876px 668px #ffffff70, 907px 1324px #ffffff70,
    343px 1976px #ffffff70, 1816px 1501px #ffffff70, 1849px 177px #ffffff70, 647px 91px #ffffff70,
    1984px 1012px #ffffff70, 1336px 1300px #ffffff70, 128px 648px #ffffff70, 305px 1060px #ffffff70,
    1324px 826px #ffffff70, 1263px 1314px #ffffff70, 1801px 629px #ffffff70, 1614px 1555px #ffffff70,
    1634px 90px #ffffff70, 1603px 452px #ffffff70, 891px 1984px #ffffff70, 1556px 1906px #ffffff70,
    121px 68px #ffffff70, 1676px 1714px #ffffff70, 516px 936px #ffffff70, 1947px 1492px #ffffff70,
    1455px 1519px #ffffff70, 45px 602px #ffffff70, 205px 1039px #ffffff70, 793px 172px #ffffff70,
    1562px 1739px #ffffff70, 1056px 110px #ffffff70, 1512px 379px #ffffff70, 1795px 1621px #ffffff70,
    1848px 607px #ffffff70, 262px 1719px #ffffff70, 477px 991px #ffffff70, 483px 883px #ffffff70,
    1239px 1197px #ffffff70, 1496px 647px #ffffff70, 1649px 25px #ffffff70, 1491px 1946px #ffffff70,
    119px 996px #ffffff70, 179px 1472px #ffffff70, 1341px 808px #ffffff70, 1565px 1700px #ffffff70,
    407px 1544px #ffffff70, 1754px 357px #ffffff70, 1288px 981px #ffffff70, 902px 1997px #ffffff70,
    1755px 1668px #ffffff70, 186px 877px #ffffff70, 1202px 1882px #ffffff70, 461px 1213px #ffffff70,
    1400px 748px #ffffff70, 1969px 1899px #ffffff70, 809px 522px #ffffff70, 514px 1219px #ffffff70,
    374px 275px #ffffff70, 938px 1973px #ffffff70, 357px 552px #ffffff70, 144px 1722px #ffffff70,
    1572px 912px #ffffff70, 402px 1858px #ffffff70, 1544px 1195px #ffffff70, 667px 1257px #ffffff70,
    727px 1496px #ffffff70, 993px 232px #ffffff70, 1772px 313px #ffffff70, 1040px 1590px #ffffff70,
    1204px 1973px #ffffff70, 1268px 79px #ffffff70, 1555px 1048px #ffffff70, 986px 1707px #ffffff70,
    978px 1710px #ffffff70, 713px 360px #ffffff70, 407px 863px #ffffff70, 461px 736px #ffffff70,
    284px 1608px #ffffff70, 103px 430px #ffffff70, 1283px 1319px #ffffff70, 977px 1186px #ffffff70,
    1966px 1516px #ffffff70, 1287px 1129px #ffffff70, 70px 1098px #ffffff70, 1189px 889px #ffffff70,
    1126px 1734px #ffffff70, 309px 1292px #ffffff70, 879px 764px #ffffff70, 65px 473px #ffffff70,
    1003px 1959px #ffffff70, 658px 791px #ffffff70, 402px 1576px #ffffff70, 35px 622px #ffffff70,
    529px 1589px #ffffff70, 164px 666px #ffffff70, 1876px 1290px #ffffff70, 1541px 526px #ffffff70,
    270px 1297px #ffffff70, 440px 865px #ffffff70, 1500px 802px #ffffff70, 182px 1754px #ffffff70,
    1264px 892px #ffffff70, 272px 1249px #ffffff70, 1289px 1535px #ffffff70, 190px 1646px #ffffff70,
    955px 242px #ffffff70, 1456px 1597px #ffffff70, 1727px 1983px #ffffff70, 635px 801px #ffffff70,
    226px 455px #ffffff70, 1396px 1710px #ffffff70, 849px 1863px #ffffff70, 237px 1264px #ffffff70,
    839px 140px #ffffff70, 1122px 735px #ffffff70, 1280px 15px #ffffff70, 1318px 242px #ffffff70,
    1819px 1148px #ffffff70, 333px 1392px #ffffff70, 1949px 553px #ffffff70, 1878px 1332px #ffffff70,
    467px 548px #ffffff70, 1812px 1082px #ffffff70, 1067px 193px #ffffff70, 243px 156px #ffffff70,
    483px 1616px #ffffff70, 1714px 933px #ffffff70, 759px 1800px #ffffff70, 1822px 995px #ffffff70,
    1877px 572px #ffffff70, 581px 1084px #ffffff70, 107px 732px #ffffff70, 642px 1837px #ffffff70,
    166px 1493px #ffffff70, 1555px 198px #ffffff70, 819px 307px #ffffff70, 947px 345px #ffffff70,
    827px 224px #ffffff70, 927px 1394px #ffffff70, 540px 467px #ffffff70, 1093px 405px #ffffff70,
    1140px 927px #ffffff70, 130px 529px #ffffff70, 33px 1980px #ffffff70, 1147px 1663px #ffffff70,
    1616px 1436px #ffffff70, 528px 710px #ffffff70, 798px 1100px #ffffff70, 505px 1480px #ffffff70,
    899px 641px #ffffff70, 1909px 1949px #ffffff70, 1311px 964px #ffffff70, 979px 1301px #ffffff70,
    1393px 969px #ffffff70, 1793px 1886px #ffffff70, 292px 357px #ffffff70, 1196px 1718px #ffffff70,
    1290px 1994px #ffffff70, 537px 1973px #ffffff70, 1181px 1674px #ffffff70,
    1740px 1566px #ffffff70, 1307px 265px #ffffff70, 922px 522px #ffffff70, 1892px 472px #ffffff70,
    384px 1746px #ffffff70, 392px 1098px #ffffff70, 647px 548px #ffffff70, 390px 1498px #ffffff70,
    1246px 138px #ffffff70, 730px 876px #ffffff70, 192px 1472px #ffffff70, 1790px 1789px #ffffff70,
    928px 311px #ffffff70, 1253px 1647px #ffffff70, 747px 1921px #ffffff70, 1561px 1025px #ffffff70,
    1533px 1292px #ffffff70, 1985px 195px #ffffff70, 728px 729px #ffffff70, 1712px 1936px #ffffff70,
    512px 1717px #ffffff70, 1528px 483px #ffffff70, 313px 1642px #ffffff70, 281px 1849px #ffffff70,
    1212px 799px #ffffff70, 435px 1191px #ffffff70, 1422px 611px #ffffff70, 1718px 1964px #ffffff70,
    411px 944px #ffffff70, 210px 636px #ffffff70, 1502px 1295px #ffffff70, 1434px 349px #ffffff70,
    769px 60px #ffffff70, 747px 1053px #ffffff70, 789px 504px #ffffff70, 1436px 1264px #ffffff70,
    1893px 1225px #ffffff70, 1394px 1788px #ffffff70, 1108px 1317px #ffffff70,
    1673px 1395px #ffffff70, 854px 1010px #ffffff70, 1705px 80px #ffffff70, 1858px 148px #ffffff70,
    1729px 344px #ffffff70, 1388px 664px #ffffff70, 895px 406px #ffffff70, 1479px 157px #ffffff70,
    1441px 1157px #ffffff70, 552px 1900px #ffffff70, 516px 364px #ffffff70, 1647px 189px #ffffff70,
    1427px 1071px #ffffff70, 785px 729px #ffffff70, 1080px 1710px #ffffff70, 504px 204px #ffffff70,
    1177px 1622px #ffffff70, 657px 34px #ffffff70, 1296px 1099px #ffffff70, 248px 180px #ffffff70,
    1212px 1568px #ffffff70, 667px 1562px #ffffff70, 695px 841px #ffffff70, 1608px 1247px #ffffff70,
    751px 882px #ffffff70, 87px 167px #ffffff70, 607px 1368px #ffffff70, 1363px 1203px #ffffff70,
    1836px 317px #ffffff70, 1668px 1703px #ffffff70, 830px 1154px #ffffff70, 1721px 1398px #ffffff70,
    1601px 1280px #ffffff70, 976px 874px #ffffff70, 1743px 254px #ffffff70, 1020px 1815px #ffffff70,
    1670px 1766px #ffffff70, 1890px 735px #ffffff70, 1379px 136px #ffffff70, 1864px 695px #ffffff70,
    206px 965px #ffffff70, 1404px 1932px #ffffff70, 1923px 1360px #ffffff70, 247px 682px #ffffff70,
    519px 1708px #ffffff70, 645px 750px #ffffff70, 1164px 1204px #ffffff70, 834px 323px #ffffff70,
    172px 1350px #ffffff70, 213px 972px #ffffff70, 1837px 190px #ffffff70, 285px 1806px #ffffff70,
    1047px 1299px #ffffff70, 1548px 825px #ffffff70, 1730px 324px #ffffff70, 1346px 1909px #ffffff70,
    772px 270px #ffffff70, 345px 1190px #ffffff70, 478px 1433px #ffffff70, 1479px 25px #ffffff70,
    1994px 1830px #ffffff70, 1744px 732px #ffffff70, 20px 1635px #ffffff70, 690px 1795px #ffffff70,
    1594px 569px #ffffff70, 579px 245px #ffffff70, 1398px 733px #ffffff70, 408px 1352px #ffffff70,
    1774px 120px #ffffff70, 1152px 1370px #ffffff70, 1698px 1810px #ffffff70, 710px 1450px #ffffff70,
    665px 286px #ffffff70, 493px 1720px #ffffff70, 786px 5px #ffffff70, 637px 1140px #ffffff70,
    764px 324px #ffffff70, 927px 310px #ffffff70, 938px 1424px #ffffff70, 1884px 744px #ffffff70,
    913px 462px #ffffff70, 1831px 1936px #ffffff70, 1527px 249px #ffffff70, 36px 1381px #ffffff70,
    1597px 581px #ffffff70, 1530px 355px #ffffff70, 949px 459px #ffffff70, 799px 828px #ffffff70,
    242px 1471px #ffffff70, 654px 797px #ffffff70, 796px 594px #ffffff70, 1365px 678px #ffffff70,
    752px 23px #ffffff70, 1630px 541px #ffffff70, 982px 72px #ffffff70, 1733px 1831px #ffffff70,
    21px 412px #ffffff70, 775px 998px #ffffff70, 335px 1945px #ffffff70, 264px 583px #ffffff70,
    158px 1311px #ffffff70, 528px 164px #ffffff70, 1978px 574px #ffffff70, 717px 1203px #ffffff70,
    734px 1591px #ffffff70, 1555px 820px #ffffff70, 16px 1943px #ffffff70, 1625px 1177px #ffffff70,
    1236px 690px #ffffff70, 1585px 1590px #ffffff70, 1737px 1728px #ffffff70, 721px 698px #ffffff70,
    1804px 1186px #ffffff70, 166px 980px #ffffff70, 1850px 230px #ffffff70, 330px 1712px #ffffff70,
    95px 797px #ffffff70, 1948px 1078px #ffffff70, 469px 939px #ffffff70, 1269px 1899px #ffffff70,
    955px 1220px #ffffff70, 1137px 1075px #ffffff70, 312px 1293px #ffffff70, 986px 1762px #ffffff70,
    1103px 1238px #ffffff70, 428px 1993px #ffffff70, 355px 570px #ffffff70, 977px 1836px #ffffff70,
    1395px 1092px #ffffff70, 276px 913px #ffffff70, 1743px 656px #ffffff70, 773px 502px #ffffff70,
    1686px 1322px #ffffff70, 1516px 1945px #ffffff70, 1334px 501px #ffffff70, 266px 156px #ffffff70,
    455px 655px #ffffff70, 798px 72px #ffffff70, 1059px 1259px #ffffff70, 1402px 1687px #ffffff70,
    236px 1329px #ffffff70, 1455px 786px #ffffff70, 146px 1228px #ffffff70, 1851px 823px #ffffff70,
    1062px 100px #ffffff70, 1220px 953px #ffffff70, 20px 1826px #ffffff70, 36px 1063px #ffffff70,
    1525px 338px #ffffff70, 790px 1521px #ffffff70, 741px 1099px #ffffff70, 288px 1489px #ffffff70,
    700px 1060px #ffffff70, 390px 1071px #ffffff70, 411px 1036px #ffffff70, 1853px 1072px #ffffff70,
    1446px 1085px #ffffff70, 1164px 874px #ffffff70, 924px 925px #ffffff70, 291px 271px #ffffff70,
    1257px 1964px #ffffff70, 1580px 1352px #ffffff70, 1507px 1216px #ffffff70, 211px 956px #ffffff70,
    985px 1195px #ffffff70, 975px 1640px #ffffff70, 518px 101px #ffffff70, 663px 1395px #ffffff70,
    914px 532px #ffffff70, 145px 1320px #ffffff70, 69px 1397px #ffffff70, 982px 523px #ffffff70,
    257px 725px #ffffff70, 1599px 831px #ffffff70, 1636px 1513px #ffffff70, 1250px 1158px #ffffff70,
    1132px 604px #ffffff70, 183px 102px #ffffff70, 1057px 318px #ffffff70, 1247px 1835px #ffffff70,
    1983px 1110px #ffffff70, 1077px 1455px #ffffff70, 921px 1770px #ffffff70, 806px 1350px #ffffff70,
    1938px 1992px #ffffff70, 855px 1260px #ffffff70, 902px 1345px #ffffff70, 658px 1908px #ffffff70,
    1845px 679px #ffffff70, 712px 1482px #ffffff70, 595px 950px #ffffff70, 1784px 1992px #ffffff70,
    1847px 1785px #ffffff70, 691px 1004px #ffffff70, 175px 1179px #ffffff70, 1666px 1911px #ffffff70,
    41px 61px #ffffff70, 971px 1080px #ffffff70, 1830px 1450px #ffffff70, 1351px 1518px #ffffff70,
    1257px 99px #ffffff70, 1395px 1498px #ffffff70, 1117px 252px #ffffff70, 1779px 597px #ffffff70,
    1346px 729px #ffffff70, 1108px 1144px #ffffff70, 402px 691px #ffffff70, 72px 496px #ffffff70,
    1673px 1604px #ffffff70, 1497px 974px #ffffff70, 1865px 1664px #ffffff70, 88px 806px #ffffff70,
    918px 77px #ffffff70, 244px 1118px #ffffff70, 256px 1820px #ffffff70, 1851px 1840px #ffffff70,
    605px 1851px #ffffff70, 634px 383px #ffffff70, 865px 37px #ffffff70, 943px 1024px #ffffff70,
    1951px 177px #ffffff70, 1097px 523px #ffffff70, 985px 1700px #ffffff70, 1243px 122px #ffffff70,
    768px 1070px #ffffff70, 468px 194px #ffffff70, 320px 1867px #ffffff70, 1850px 185px #ffffff70,
    380px 1616px #ffffff70, 468px 1294px #ffffff70, 1122px 1743px #ffffff70, 884px 299px #ffffff70,
    1300px 1917px #ffffff70, 1860px 396px #ffffff70, 1270px 990px #ffffff70, 529px 733px #ffffff70,
    1975px 1347px #ffffff70, 1885px 685px #ffffff70, 226px 506px #ffffff70, 651px 878px #ffffff70,
    1323px 680px #ffffff70, 1284px 680px #ffffff70, 238px 1967px #ffffff70, 911px 174px #ffffff70,
    1111px 521px #ffffff70, 1150px 85px #ffffff70, 794px 502px #ffffff70, 484px 1856px #ffffff70,
    1809px 368px #ffffff70, 112px 953px #ffffff70, 590px 1009px #ffffff70, 1655px 311px #ffffff70,
    100px 1026px #ffffff70, 1803px 352px #ffffff70, 865px 306px #ffffff70, 1077px 1019px #ffffff70,
    1335px 872px #ffffff70, 1647px 1298px #ffffff70, 1233px 1387px #ffffff70, 698px 1036px #ffffff70,
    659px 1860px #ffffff70, 388px 1412px #ffffff70, 1212px 458px #ffffff70, 755px 1468px #ffffff70,
    696px 1654px #ffffff70, 1144px 60px #ffffff70;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #ffffff70, 1775px 1663px #ffffff70, 332px 1364px #ffffff70,
    878px 340px #ffffff70, 569px 1832px #ffffff70, 1422px 1684px #ffffff70, 1946px 1907px #ffffff70,
    121px 979px #ffffff70, 1044px 1069px #ffffff70, 463px 381px #ffffff70, 423px 112px #ffffff70,
    523px 1179px #ffffff70, 779px 654px #ffffff70, 1398px 694px #ffffff70, 1085px 1464px #ffffff70,
    1599px 1869px #ffffff70, 801px 1882px #ffffff70, 779px 1231px #ffffff70, 552px 932px #ffffff70,
    1057px 1196px #ffffff70, 282px 1280px #ffffff70, 496px 1986px #ffffff70, 1833px 1120px #ffffff70,
    1802px 1293px #ffffff70, 6px 1696px #ffffff70, 412px 1902px #ffffff70, 605px 438px #ffffff70,
    24px 1212px #ffffff70, 234px 1320px #ffffff70, 544px 344px #ffffff70, 1107px 170px #ffffff70,
    1603px 196px #ffffff70, 905px 648px #ffffff70, 68px 1458px #ffffff70, 649px 1969px #ffffff70,
    744px 675px #ffffff70, 1127px 478px #ffffff70, 714px 1814px #ffffff70, 1486px 526px #ffffff70,
    270px 1636px #ffffff70, 1931px 149px #ffffff70, 1807px 378px #ffffff70, 8px 390px #ffffff70,
    1415px 699px #ffffff70, 1473px 1211px #ffffff70, 1590px 141px #ffffff70, 270px 1705px #ffffff70,
    69px 1423px #ffffff70, 1108px 1053px #ffffff70, 1946px 128px #ffffff70, 371px 371px #ffffff70,
    1490px 220px #ffffff70, 357px 1885px #ffffff70, 363px 363px #ffffff70, 1896px 1256px #ffffff70,
    1979px 1050px #ffffff70, 947px 1342px #ffffff70, 1754px 242px #ffffff70, 514px 974px #ffffff70,
    65px 1477px #ffffff70, 1840px 547px #ffffff70, 950px 695px #ffffff70, 459px 1150px #ffffff70,
    1124px 1502px #ffffff70, 481px 940px #ffffff70, 680px 839px #ffffff70, 797px 1169px #ffffff70,
    1977px 1491px #ffffff70, 734px 1724px #ffffff70, 210px 298px #ffffff70, 816px 628px #ffffff70,
    686px 770px #ffffff70, 1721px 267px #ffffff70, 1663px 511px #ffffff70, 1481px 1141px #ffffff70,
    582px 248px #ffffff70, 1308px 953px #ffffff70, 628px 657px #ffffff70, 897px 1535px #ffffff70,
    270px 931px #ffffff70, 791px 467px #ffffff70, 1336px 1732px #ffffff70, 1013px 1653px #ffffff70,
    1911px 956px #ffffff70, 587px 816px #ffffff70, 83px 456px #ffffff70, 930px 1478px #ffffff70,
    1587px 1694px #ffffff70, 614px 1200px #ffffff70, 302px 1782px #ffffff70, 1711px 1432px #ffffff70,
    443px 904px #ffffff70, 1666px 714px #ffffff70, 1588px 1167px #ffffff70, 273px 1075px #ffffff70,
    1679px 461px #ffffff70, 721px 664px #ffffff70, 1202px 10px #ffffff70, 166px 1126px #ffffff70,
    331px 1628px #ffffff70, 430px 1565px #ffffff70, 1585px 509px #ffffff70, 640px 38px #ffffff70,
    822px 837px #ffffff70, 1760px 1664px #ffffff70, 1122px 1458px #ffffff70, 398px 131px #ffffff70,
    689px 285px #ffffff70, 460px 652px #ffffff70, 1627px 365px #ffffff70, 348px 1648px #ffffff70,
    819px 1946px #ffffff70, 981px 1917px #ffffff70, 323px 76px #ffffff70, 979px 684px #ffffff70,
    887px 536px #ffffff70, 1348px 1596px #ffffff70, 1055px 666px #ffffff70, 1402px 1797px #ffffff70,
    1300px 1055px #ffffff70, 937px 238px #ffffff70, 1474px 1815px #ffffff70, 1144px 1710px #ffffff70,
    1629px 1087px #ffffff70, 911px 919px #ffffff70, 771px 819px #ffffff70, 403px 720px #ffffff70,
    163px 736px #ffffff70, 1062px 238px #ffffff70, 1774px 818px #ffffff70, 1874px 1178px #ffffff70,
    1177px 699px #ffffff70, 1244px 1244px #ffffff70, 1371px 58px #ffffff70, 564px 1515px #ffffff70,
    1824px 487px #ffffff70, 929px 702px #ffffff70, 394px 1348px #ffffff70, 1161px 641px #ffffff70,
    219px 1841px #ffffff70, 358px 941px #ffffff70, 140px 1759px #ffffff70, 1019px 1345px #ffffff70,
    274px 436px #ffffff70, 1433px 1605px #ffffff70, 1798px 1426px #ffffff70, 294px 1848px #ffffff70,
    1681px 1877px #ffffff70, 1344px 1824px #ffffff70, 1439px 1632px #ffffff70,
    161px 1012px #ffffff70, 1308px 588px #ffffff70, 1789px 582px #ffffff70, 721px 1910px #ffffff70,
    318px 218px #ffffff70, 607px 319px #ffffff70, 495px 535px #ffffff70, 1552px 1575px #ffffff70,
    1562px 67px #ffffff70, 403px 926px #ffffff70, 1096px 1800px #ffffff70, 1814px 1709px #ffffff70,
    1882px 1831px #ffffff70, 533px 46px #ffffff70, 823px 969px #ffffff70, 530px 165px #ffffff70,
    1030px 352px #ffffff70, 1681px 313px #ffffff70, 338px 115px #ffffff70, 1607px 211px #ffffff70,
    1718px 1184px #ffffff70, 1589px 659px #ffffff70, 278px 355px #ffffff70, 464px 1464px #ffffff70,
    1165px 277px #ffffff70, 950px 694px #ffffff70, 1746px 293px #ffffff70, 793px 911px #ffffff70,
    528px 773px #ffffff70, 1883px 1694px #ffffff70, 748px 182px #ffffff70, 1924px 1531px #ffffff70,
    100px 636px #ffffff70, 1473px 1445px #ffffff70, 1264px 1244px #ffffff70, 850px 1377px #ffffff70,
    987px 1976px #ffffff70, 933px 1761px #ffffff70, 922px 1270px #ffffff70, 500px 396px #ffffff70,
    1324px 8px #ffffff70, 1967px 1814px #ffffff70, 1072px 1401px #ffffff70, 961px 37px #ffffff70,
    156px 81px #ffffff70, 1915px 502px #ffffff70, 1076px 1846px #ffffff70, 152px 1669px #ffffff70,
    986px 1529px #ffffff70, 1667px 1137px #ffffff70;
}

.stars2:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ffffff70, 1775px 1663px #ffffff70, 332px 1364px #ffffff70,
    878px 340px #ffffff70, 569px 1832px #ffffff70, 1422px 1684px #ffffff70, 1946px 1907px #ffffff70,
    121px 979px #ffffff70, 1044px 1069px #ffffff70, 463px 381px #ffffff70, 423px 112px #ffffff70,
    523px 1179px #ffffff70, 779px 654px #ffffff70, 1398px 694px #ffffff70, 1085px 1464px #ffffff70,
    1599px 1869px #ffffff70, 801px 1882px #ffffff70, 779px 1231px #ffffff70, 552px 932px #ffffff70,
    1057px 1196px #ffffff70, 282px 1280px #ffffff70, 496px 1986px #ffffff70, 1833px 1120px #ffffff70,
    1802px 1293px #ffffff70, 6px 1696px #ffffff70, 412px 1902px #ffffff70, 605px 438px #ffffff70,
    24px 1212px #ffffff70, 234px 1320px #ffffff70, 544px 344px #ffffff70, 1107px 170px #ffffff70,
    1603px 196px #ffffff70, 905px 648px #ffffff70, 68px 1458px #ffffff70, 649px 1969px #ffffff70,
    744px 675px #ffffff70, 1127px 478px #ffffff70, 714px 1814px #ffffff70, 1486px 526px #ffffff70,
    270px 1636px #ffffff70, 1931px 149px #ffffff70, 1807px 378px #ffffff70, 8px 390px #ffffff70,
    1415px 699px #ffffff70, 1473px 1211px #ffffff70, 1590px 141px #ffffff70, 270px 1705px #ffffff70,
    69px 1423px #ffffff70, 1108px 1053px #ffffff70, 1946px 128px #ffffff70, 371px 371px #ffffff70,
    1490px 220px #ffffff70, 357px 1885px #ffffff70, 363px 363px #ffffff70, 1896px 1256px #ffffff70,
    1979px 1050px #ffffff70, 947px 1342px #ffffff70, 1754px 242px #ffffff70, 514px 974px #ffffff70,
    65px 1477px #ffffff70, 1840px 547px #ffffff70, 950px 695px #ffffff70, 459px 1150px #ffffff70,
    1124px 1502px #ffffff70, 481px 940px #ffffff70, 680px 839px #ffffff70, 797px 1169px #ffffff70,
    1977px 1491px #ffffff70, 734px 1724px #ffffff70, 210px 298px #ffffff70, 816px 628px #ffffff70,
    686px 770px #ffffff70, 1721px 267px #ffffff70, 1663px 511px #ffffff70, 1481px 1141px #ffffff70,
    582px 248px #ffffff70, 1308px 953px #ffffff70, 628px 657px #ffffff70, 897px 1535px #ffffff70,
    270px 931px #ffffff70, 791px 467px #ffffff70, 1336px 1732px #ffffff70, 1013px 1653px #ffffff70,
    1911px 956px #ffffff70, 587px 816px #ffffff70, 83px 456px #ffffff70, 930px 1478px #ffffff70,
    1587px 1694px #ffffff70, 614px 1200px #ffffff70, 302px 1782px #ffffff70, 1711px 1432px #ffffff70,
    443px 904px #ffffff70, 1666px 714px #ffffff70, 1588px 1167px #ffffff70, 273px 1075px #ffffff70,
    1679px 461px #ffffff70, 721px 664px #ffffff70, 1202px 10px #ffffff70, 166px 1126px #ffffff70,
    331px 1628px #ffffff70, 430px 1565px #ffffff70, 1585px 509px #ffffff70, 640px 38px #ffffff70,
    822px 837px #ffffff70, 1760px 1664px #ffffff70, 1122px 1458px #ffffff70, 398px 131px #ffffff70,
    689px 285px #ffffff70, 460px 652px #ffffff70, 1627px 365px #ffffff70, 348px 1648px #ffffff70,
    819px 1946px #ffffff70, 981px 1917px #ffffff70, 323px 76px #ffffff70, 979px 684px #ffffff70,
    887px 536px #ffffff70, 1348px 1596px #ffffff70, 1055px 666px #ffffff70, 1402px 1797px #ffffff70,
    1300px 1055px #ffffff70, 937px 238px #ffffff70, 1474px 1815px #ffffff70, 1144px 1710px #ffffff70,
    1629px 1087px #ffffff70, 911px 919px #ffffff70, 771px 819px #ffffff70, 403px 720px #ffffff70,
    163px 736px #ffffff70, 1062px 238px #ffffff70, 1774px 818px #ffffff70, 1874px 1178px #ffffff70,
    1177px 699px #ffffff70, 1244px 1244px #ffffff70, 1371px 58px #ffffff70, 564px 1515px #ffffff70,
    1824px 487px #ffffff70, 929px 702px #ffffff70, 394px 1348px #ffffff70, 1161px 641px #ffffff70,
    219px 1841px #ffffff70, 358px 941px #ffffff70, 140px 1759px #ffffff70, 1019px 1345px #ffffff70,
    274px 436px #ffffff70, 1433px 1605px #ffffff70, 1798px 1426px #ffffff70, 294px 1848px #ffffff70,
    1681px 1877px #ffffff70, 1344px 1824px #ffffff70, 1439px 1632px #ffffff70,
    161px 1012px #ffffff70, 1308px 588px #ffffff70, 1789px 582px #ffffff70, 721px 1910px #ffffff70,
    318px 218px #ffffff70, 607px 319px #ffffff70, 495px 535px #ffffff70, 1552px 1575px #ffffff70,
    1562px 67px #ffffff70, 403px 926px #ffffff70, 1096px 1800px #ffffff70, 1814px 1709px #ffffff70,
    1882px 1831px #ffffff70, 533px 46px #ffffff70, 823px 969px #ffffff70, 530px 165px #ffffff70,
    1030px 352px #ffffff70, 1681px 313px #ffffff70, 338px 115px #ffffff70, 1607px 211px #ffffff70,
    1718px 1184px #ffffff70, 1589px 659px #ffffff70, 278px 355px #ffffff70, 464px 1464px #ffffff70,
    1165px 277px #ffffff70, 950px 694px #ffffff70, 1746px 293px #ffffff70, 793px 911px #ffffff70,
    528px 773px #ffffff70, 1883px 1694px #ffffff70, 748px 182px #ffffff70, 1924px 1531px #ffffff70,
    100px 636px #ffffff70, 1473px 1445px #ffffff70, 1264px 1244px #ffffff70, 850px 1377px #ffffff70,
    987px 1976px #ffffff70, 933px 1761px #ffffff70, 922px 1270px #ffffff70, 500px 396px #ffffff70,
    1324px 8px #ffffff70, 1967px 1814px #ffffff70, 1072px 1401px #ffffff70, 961px 37px #ffffff70,
    156px 81px #ffffff70, 1915px 502px #ffffff70, 1076px 1846px #ffffff70, 152px 1669px #ffffff70,
    986px 1529px #ffffff70, 1667px 1137px #ffffff70;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 387px 1878px #ffffff70, 760px 1564px #ffffff70, 1487px 999px #ffffff70,
    948px 1828px #ffffff70, 1977px 1001px #ffffff70, 1284px 1963px #ffffff70, 656px 284px #ffffff70,
    1268px 1635px #ffffff70, 1820px 598px #ffffff70, 642px 1900px #ffffff70, 296px 57px #ffffff70,
    921px 1620px #ffffff70, 476px 1858px #ffffff70, 658px 613px #ffffff70, 1171px 1363px #ffffff70,
    1419px 283px #ffffff70, 1037px 731px #ffffff70, 503px 663px #ffffff70, 1562px 463px #ffffff70,
    383px 1197px #ffffff70, 1171px 1233px #ffffff70, 876px 1768px #ffffff70, 856px 1615px #ffffff70,
    1375px 1924px #ffffff70, 1725px 918px #ffffff70, 952px 119px #ffffff70, 768px 1212px #ffffff70,
    992px 1462px #ffffff70, 1929px 717px #ffffff70, 1947px 755px #ffffff70, 1818px 1123px #ffffff70,
    1896px 1672px #ffffff70, 460px 198px #ffffff70, 256px 271px #ffffff70, 752px 544px #ffffff70,
    1222px 1859px #ffffff70, 1851px 443px #ffffff70, 313px 1858px #ffffff70, 709px 446px #ffffff70,
    1546px 697px #ffffff70, 674px 1155px #ffffff70, 1112px 130px #ffffff70, 355px 1790px #ffffff70,
    1496px 974px #ffffff70, 1696px 480px #ffffff70, 1316px 1265px #ffffff70, 1645px 1063px #ffffff70,
    1182px 237px #ffffff70, 427px 1582px #ffffff70, 859px 253px #ffffff70, 458px 939px #ffffff70,
    1517px 1644px #ffffff70, 1943px 60px #ffffff70, 212px 1650px #ffffff70, 966px 1786px #ffffff70,
    473px 712px #ffffff70, 130px 76px #ffffff70, 1417px 1186px #ffffff70, 909px 1580px #ffffff70,
    1913px 762px #ffffff70, 204px 1143px #ffffff70, 1998px 1057px #ffffff70, 1468px 1301px #ffffff70,
    144px 1676px #ffffff70, 21px 1601px #ffffff70, 382px 1362px #ffffff70, 912px 753px #ffffff70,
    1488px 1405px #ffffff70, 802px 156px #ffffff70, 174px 550px #ffffff70, 338px 1366px #ffffff70,
    1197px 774px #ffffff70, 602px 486px #ffffff70, 682px 1877px #ffffff70, 348px 1503px #ffffff70,
    407px 1139px #ffffff70, 950px 1400px #ffffff70, 922px 1139px #ffffff70, 1697px 293px #ffffff70,
    1238px 1281px #ffffff70, 1038px 1197px #ffffff70, 376px 1889px #ffffff70,
    1255px 1680px #ffffff70, 1008px 1316px #ffffff70, 1538px 1447px #ffffff70,
    1186px 874px #ffffff70, 1967px 640px #ffffff70, 1341px 19px #ffffff70, 29px 1732px #ffffff70,
    16px 1650px #ffffff70, 1021px 1075px #ffffff70, 723px 424px #ffffff70, 1175px 41px #ffffff70,
    494px 1957px #ffffff70, 1296px 431px #ffffff70, 175px 1507px #ffffff70, 831px 121px #ffffff70,
    498px 1947px #ffffff70, 617px 880px #ffffff70, 240px 403px #ffffff70;
}

.stars3:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #ffffff70, 760px 1564px #ffffff70, 1487px 999px #ffffff70,
    948px 1828px #ffffff70, 1977px 1001px #ffffff70, 1284px 1963px #ffffff70, 656px 284px #ffffff70,
    1268px 1635px #ffffff70, 1820px 598px #ffffff70, 642px 1900px #ffffff70, 296px 57px #ffffff70,
    921px 1620px #ffffff70, 476px 1858px #ffffff70, 658px 613px #ffffff70, 1171px 1363px #ffffff70,
    1419px 283px #ffffff70, 1037px 731px #ffffff70, 503px 663px #ffffff70, 1562px 463px #ffffff70,
    383px 1197px #ffffff70, 1171px 1233px #ffffff70, 876px 1768px #ffffff70, 856px 1615px #ffffff70,
    1375px 1924px #ffffff70, 1725px 918px #ffffff70, 952px 119px #ffffff70, 768px 1212px #ffffff70,
    992px 1462px #ffffff70, 1929px 717px #ffffff70, 1947px 755px #ffffff70, 1818px 1123px #ffffff70,
    1896px 1672px #ffffff70, 460px 198px #ffffff70, 256px 271px #ffffff70, 752px 544px #ffffff70,
    1222px 1859px #ffffff70, 1851px 443px #ffffff70, 313px 1858px #ffffff70, 709px 446px #ffffff70,
    1546px 697px #ffffff70, 674px 1155px #ffffff70, 1112px 130px #ffffff70, 355px 1790px #ffffff70,
    1496px 974px #ffffff70, 1696px 480px #ffffff70, 1316px 1265px #ffffff70, 1645px 1063px #ffffff70,
    1182px 237px #ffffff70, 427px 1582px #ffffff70, 859px 253px #ffffff70, 458px 939px #ffffff70,
    1517px 1644px #ffffff70, 1943px 60px #ffffff70, 212px 1650px #ffffff70, 966px 1786px #ffffff70,
    473px 712px #ffffff70, 130px 76px #ffffff70, 1417px 1186px #ffffff70, 909px 1580px #ffffff70,
    1913px 762px #ffffff70, 204px 1143px #ffffff70, 1998px 1057px #ffffff70, 1468px 1301px #ffffff70,
    144px 1676px #ffffff70, 21px 1601px #ffffff70, 382px 1362px #ffffff70, 912px 753px #ffffff70,
    1488px 1405px #ffffff70, 802px 156px #ffffff70, 174px 550px #ffffff70, 338px 1366px #ffffff70,
    1197px 774px #ffffff70, 602px 486px #ffffff70, 682px 1877px #ffffff70, 348px 1503px #ffffff70,
    407px 1139px #ffffff70, 950px 1400px #ffffff70, 922px 1139px #ffffff70, 1697px 293px #ffffff70,
    1238px 1281px #ffffff70, 1038px 1197px #ffffff70, 376px 1889px #ffffff70,
    1255px 1680px #ffffff70, 1008px 1316px #ffffff70, 1538px 1447px #ffffff70,
    1186px 874px #ffffff70, 1967px 640px #ffffff70, 1341px 19px #ffffff70, 29px 1732px #ffffff70,
    16px 1650px #ffffff70, 1021px 1075px #ffffff70, 723px 424px #ffffff70, 1175px 41px #ffffff70,
    494px 1957px #ffffff70, 1296px 431px #ffffff70, 175px 1507px #ffffff70, 831px 121px #ffffff70,
    498px 1947px #ffffff70, 617px 880px #ffffff70, 240px 403px #ffffff70;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}